.countryStyle{
    background-color: rgb(195, 236, 236);
    color:coral;
    margin:29px;
    padding:30px;
    border-radius: 20px;
    border:3px solid red;
}

.countryStyle img{
    width: 200px;
}